.container-fluid {
  width: 100%;
  background-color: #ffffff;
}
h1, h2, h3, h4 {
  font-family: 'Segoe UI';
  margin: auto;
}
mark {
  color: #FF5600;
  background-color: inherit;
  padding: 0;
}
h1 {
  color: #000000;
  font-size: 40px;
  line-height: 48px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  max-width: 1300px;
}
h2, h3 {
  color: #ffffff;
  font-size: 32px;
  line-height: 44px;
  font-weight: bold;
}
#caminho h2{
  font-size: 24px;
  line-height: 48px;
  margin: 30px auto;
}
h3 {
  text-transform: uppercase;
  text-align: center;
  padding: 39px 0 31px;
  letter-spacing: 7.7px;
}
h4 {
  color: #000000;
  font-size: 28px;
  line-height: 32px;
  font-weight: bold;
  text-align: center;
  margin: 30px 0 60px 0;
}
#razoes h4 {
  font-size: 32px;
  line-height: 44px;
  margin: 55px 0 0;
}
h5  {
  font-family: Georgia;
  color: #ffffff;
  font-size: 32px;
  line-height: 36px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  margin-bottom: 35px;
}
h6{
  color: #ffffff;
  font-size: 34px;
  line-height: 46px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 80px;
}
p {
  font-family: Georgia;
}
button {
  border: none;
  border-radius: 10px;
  width: 350px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 0.5px;
}
span.dot {
  height: 25px;
  width: 25px;
  background-color: #FF5600;
  border-radius: 50%;
  display: inline-block;
  float: left;
  margin-top: 5px;
}
span.line {
  height: 3px;
  width: 200px;
  background-color: #FF5600;
  display: inline-block;
  float: right;
  margin: 10px 60px 70px 0;
}
#first {
  background-color: #101010;
  padding: 90px 0 80px;
  font-family: 'Segoe UI';
}
#first button {
  background-color: #FF5600;
  padding: 15px 0;
  font-size: 22px;
  line-height: 30px;
  margin: 70px 0 0 50px;
}
#first button:hover{
  background-color: #101010;
  border: 3px solid #FF5600;
  color: #FF5600;
  padding: 12px 0;
}
#YTvideo {
  text-align: center;
}
iframe {
  width: 100%;
  max-width: 480px;
  height: 330px;
  border: none;
}
#sobre {
  padding: 50px 0 0 0;
}
#sobre > .col-12 > .row {
  max-width: 1200px;
  margin: auto;
}
#sobre_content .col{
  padding: 0;
}
#sobre p {
  font-size: 24px;
  line-height: 40px;
  margin-left: 40px;
}
#sobre, #razoes{
  background-image: url(/img/marginl.png), url(/img/marginr.png);
  background-position-y: center;
  background-position-x: 2%, 98%;
  background-repeat: repeat-y;
  background-size: 8% auto;
}
#paraquem {
  background-color: #000000;
  padding: 32px 0;
}
ul {
  width: 100%;
}
li{
  width: 90vw;
  max-width: 520px;
}
.nav-pills a.nav-link {
  color: #002538;
  background-color: #ffffff;
  text-align: center;
  align-self: center;
  padding: 18px 10px;
  border-radius: 0;
  font-size: 24px;
  line-height: 50px;
  font-family: 'Segoe UI';
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.6px;
}
.nav-pills a.nav-link:hover{
  border: solid 2px #FF5600;
  padding: 16px 10px
}
.nav-pills a.nav-link.active {
  color: #ffffff;
  background-color: #FF5600;
  transform: scale(1.03);
}
.tab-content {
  width: 100%;
  justify-content: center;
}
.tab-pane.active {
  margin: 90px auto 60px;
  color: #ffffff;
  font-family: Georgia;
  font-size: 28px;
  line-height: 32px;
  text-align: center;
}
#paraquem .col{
  text-align: center;
}
#paraquem button {
  background-color: #26D543;
  font-size: 18px;
  line-height: 24px;
  padding: 18px 0;
}
#paraquem button:hover{
  background-color: #000000;
  border: 3px solid #26D543;
  color: #26D543;
  padding: 15px 0;
}
#imagine_title{
  background-color: #002538;
  border-radius: 70px 0 0 0;
  margin: 10px -15px 85px;
}
#imagine_content {
  background-color: #002538;
  background-image: url(/img/foldbl.png), url(/img/foldtr.png);
  background-position: bottom left, top right;
  background-repeat: no-repeat;
  background-size: 200px;
}

#imagine img{
  width: 100%;
  max-width: 170px;
}

#imagine_content .col {
  max-width: 280px;
  margin: -68px 10px 42px;
  background-color: #ffffff;
  border-radius: 10px;
  text-align: center;
  padding: 30px 12px 23px;
  box-shadow: 0 3px 6px #00000029;
}

#imagine p {
  margin: 23px 0 0;
  font-size: 20px;
  line-height: 32px;
}

#razoes p {
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  margin: 0;
}

#razoes_content .col {
  padding: 0;
  margin: 0 45px;
  min-width: 300px;
}

#razoes_content #razao4 {
  margin-right: calc(45px + 9%);
}

#razoes_content {
  background-image: url(/img/stepslg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 100%;
  margin: 40px -45px;
  padding: 1.5% 0 3%;
  min-height: 630px;
}

#fakerow{
  padding-top: 6.5%;
}

#razao1, #razao2, #razao3{
  height: 230px;
}
#razao4, #razao5{
  height: 140px;
}

#razao1, #razao5{
  max-width: 420px;
}
#razao2{
  max-width: 330px;
}
#razao3, #razao4{
  max-width: 400px;
}
#caminho{
background-color: #000000;
padding: 70px 0 50px;
}
#caminho > .col{
  max-width: 1140px;
}
#caminho p{
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  margin-left: 40px;
}
#caminho button {
  background-color: #26D543;
  font-size: 24px;
  line-height: 32px;
  padding: 16px 0;
}
#caminho button:hover{
  background-color: #000000;
  border: 3px solid #26D543;
  color: #26D543;
  padding: 13px 0;
}
#caminho .col .col{
  padding: 0;
}
#break {
  display: none;
}

/*
    MEDIA QUERY-----------------------------
*/

/*Razões - (1200-1360)*/
@media only screen and (min-width:1200px) and (max-width:1360px){
  #razoes_content{
    max-width: 90%;
    background-size: 80% auto;
    padding: 4% 0 7%;
    margin: auto;
  }
  #razoes_content .col{
    max-width: 360px;
    padding: 0 30px;
    margin: 0;
    height: 240px;
  }
  #razoes_content #razao4, #razoes_content #razao5{
    height: 170px;
    max-width: 400px;
    padding: 0 100px 0 0;
    justify-content: around;
    margin: 0;
  }
  #fakerow{
    padding-top: 9%;
  }
}
/*Razões - (768-1200*/
@media only screen and (max-width: 1199px) and (min-width: 768px){
  #razoes_content{
    background-image: url(/img/stepsmd.png);
    margin: 80px auto;
    max-width: 100%;
    background-size: auto 100%;
    padding: 2% 0;
    min-height: 900px;
  }
  #razoes #razoes_content .col{
    min-width: unset;
    max-width: 400px;
    padding: 0 50px;
    margin: 0;
  }
  #razao3{
    height: 300px;
  }
  #razao4, #razao5{
    height: 150px;
  }
  #fakerow{
    padding-top: 21%;
  }
}
/*Razões - (768-)*/
@media only screen and (max-width: 767px){
  #razoes_content{
    background-image: none;
  }
  #razoes #razoes_content .col{
    padding: 190px 0 0 0;
    margin: 0 auto 50px;
    height: auto;
    max-width: 450px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: auto 180px;
  }
  #fakerow{
    display: none;
  }
  #razao1{
    background-image: url(/img/step1.png);
  }
  #razao2{
    background-image: url(/img/step2.png);
  }
  #razao3{
    background-image: url(/img/step3.png);
  }
  #razao4{
    background-image: url(/img/step4.png);
  }
  #razao5{
    background-image: url(/img/step5.png);
  }
}
.col-12 {
  max-width: 1450px;
}
.col-lg-7 {
  max-width: 830px;
}               
.col-lg-5 {
  max-width: 530px;
}
/*lg*/
@media only screen and (max-width: 1200px){
  .container-fluid > .row > .col{
    max-width: unset;
  }
  #sobre > .col, #caminho > .col{
    max-width: 90%;
  }
  #imagine_content .col{
    max-width: 470px;
    margin-bottom: 90px;
  }
  #imagine img{
    float: left;
    margin-right: 10px;
  }
  #break{
    display: block;
  }
}
/*md*/
@media only screen and (max-width: 991px){
  #first{
    padding-bottom: 20px;
  }
  #first > .col{
    text-align: center;
    padding-bottom: 60px;   
  }
  #imagine_content .col{
    max-width: calc(10% + 280px);
  }
  #imagine img{
    float: unset;
    margin: 0 0 10px;
  }
}
/*sm*/
@media (max-width: 767px){
  #sobre .row > .col, #caminho .row > .col{
    max-width: 90%;
    margin: auto;
  }
  #imagine_content .col{
    max-width: 90%;
    margin: -70px auto 90px;
    display: flex;
    flex-direction: row;
  }
  #imagine img{
    margin-right: 20px;
    align-self: center;
  }
  #imagine p{
    margin: 0;
    align-self: center;
  }
  iframe{
    width: 100%;
    height: 200px;
  }
  h1{
    font-size: 36px;
  }
  #sobre .col{
    max-width: unset;
  }
}
@media only screen and (max-width:450px) {
  #imagine_content .col{
    display: block;
    margin: 20px 0 0;
  }
  #first button{
    margin: 70px 0 0;
  }
  button{
    width: 300px;
  }
  #razoes #razoes_content .col{
    max-width: 320px;
  }
  #imagine_content{
    padding-bottom: 30px;
  }
}
#caminho1{
  max-width: 660px;
  margin: 0 auto 0 0;
}
#caminho2{
  max-width: 630px;
  margin: 0 0 0 auto;
}
#caminho3{
  max-width: 680px;
  margin: 0 auto 0 4.8%;
}
#caminho4{
  max-width: 630px;
  margin: 0 5.8% 0 auto;
}
#sobre1{
  max-width: 660px
  margin: 0 auto 0 1%;
}
#sobre2{
  max-width: 840px;
  margin: 0 0 0 auto;
}
#sobre3{
  max-width: 680px;
  margin: 0 auto 0 7.5%;
}
#sobre4{
  max-width: 880px;
  margin: 0 11.3% 0 auto;
}
#sobre5{
  max-width: 660px;
  margin: 0 auto 0 0;
}